{% extends "layout.html" %}

{% block pageTitle %}
  What is your full name? – Help test new NHS services
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "href": "/",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/name-answer" method="post">

      {{ input({
        label: {
          text: "What is your full name?",
          classes: "nhsuk-label--l",
          isPageHeading: true
        },
        id: "full-name",
        name: "full-name",
        value: data["full-name"]
      }) }}

      {{ button({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
